@import 'main/colors';
@import 'main/fonts';
@import 'main/footer';
@import 'main/header';
@import 'main/indexstyle';
@import 'main/teststyle';
@import 'main/testinfo';
@import 'main/infostyle';
@import 'main/responsive';


body {
    min-width: 125px;
}

h1{
    color: $colorwhite;
    font-size: 2.5em;
}

h3{
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}


h1, h2, h3, p{
    color: $colorwhite;
}



img {
    width: 100%;
}

.grid-container{
    background-color: $colorblack;
    margin: 0 auto;
}


















