@import 'main/colors';
@import 'main/fonts';
@import 'main/footer';
@import 'main/header';
@import 'main/indexstyle';
@import 'main/teststyle';
@import 'main/testinfo';
@import 'main/infostyle';
@import 'main/responsive';
@import 'main/buttons';


*{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.header-wrapper{
    background-color: $colorgrey;

}

.wrapper{
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    color: $colorwhite;
    font-size: 2.5em;
}

h3{
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}


h1, h2, h3, p{
    color: $colorwhite;
}



img {
    width: 100%;
}

.grid-container{
    background-color: $secondarycolor;
    margin: 0 auto;
}


















