$primarycolor: #00d4b0;
$secondarycolor: #262626;
$tertiarycolor: #4B0082;




$colordarkpuple: #3e2f80;
$colorregularpurple: #8674d4;
$colorwhite: #fff2c9;
$colorgrey: #a09db0;
$colorblack: #262626;
$colorpink: #ff7bac;