//$fontdisplay: 'Helvetica';
/*'Space Mono'*/
//$fontread: "Helvetica";
/*'Work Sans', sans-serif*/

/*
$fontdisplay: 'BioRhyme', serif;
$fontread: 'Space Mono', monospace;
*/

$fontdisplay: 'Montserrat', sans-serif;
$fontread: 'Cardo', serif;


h1, h2, h3, a{
    font-family: $fontdisplay;
    font-weight: 500;
}

p{
    font-family: $fontread;
}

h1, h2, h3, p, a {
margin: 0;
}

h3 {
    //font-weight: 700;
}
