$fontdisplay: 'Helvetica';
/*'Space Mono'*/
$fontread: "Helvetica";
/*'Work Sans', sans-serif*/

h1, h2, h3, p{
    font-family: $fontdisplay;
}

p, a{
    font-family: $fontread;
}

h1, h2, h3, p, a {
margin: 0;
}

h3 {
margin: 0 ;
}
