.infostyle {
    background-image: url('../img/flowers_flower3-small.png');
    background-size: cover;
}

header {

    .graphicobject{
        display: flex;
        justify-content: center;

        .circle {
            clip-path: circle(50% at 50% 50%);
            position: relative;
            bottom: 7em;
            background-color: $primarycolor;
            width: 10em;
            height: 10em;
            transform: rotate(0deg);
            transform-origin: 50% 50%;
            transition: transform 2s;
        }
    }
}

.maininfo-wrapper{
    background-color: $tertiarycolor;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    main.info{
        // // display: grid;
        // // grid-template-columns: 1fr;
        // // grid-template-rows: repeat(3, 1fr);
        // // grid-template-areas: 
        // // "info"
        // // "info"
        // // "gallery";
        
        article.symptom1,article.symptom2{
            
            background-color: $colorwhite;
            margin-bottom: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                max-width: 20em;
                color: $secondarycolor;
                padding: 1em;
                font-weight: 700;
            }
            
            ul{
                max-width: 30em;
                list-style: none;
                padding-bottom:2em;
                li{
                    //list-style-image: url(../img/checks_check-black.png);
                    float: left;
                    padding-left:0.4em;
                    p{
                        color: $secondarycolor;
                        font-weight: 700;
                    }
                }
            }

            a {
                text-decoration:none;
                padding-bottom: 1.5em;
                p{
                    font-family: $fontdisplay;
                    color:$primarycolor;
                    font-weight: 800;
                }
            }
        }

        article.gallery1,article.gallery2{
            display: none;
            // background-color: $colorwhite;
            // margin: 2em;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // flex-direction: column;

            // img{
            //     max-width:15em;
            //     max-height: 15em;
            // }
            // h3{
            //     padding-top: 0.5em;
            //     font-family: $fontdisplay;
            //     color:$secondarycolor;
            //     font-weight: 700;
            // }

            // p{
            //     padding: 0.5em 1em 2em 2em;
            //     font-family: $fontdisplay;
            //     color:$secondarycolor;
                
            // }
        }
    }
}