.infostyle {
    background-image: url('../img/flowers_flower3-small.png');
    background-size: cover;
}

header {

    .graphicobject{
        display: flex;
        justify-content: center;

        .circle {
            clip-path: circle(50% at 50% 50%);
            position: relative;
            bottom: 7em;
            background-color: $primarycolor;
            width: 10em;
            height: 10em;
            transform: rotate(0deg);
            transform-origin: 50% 50%;
            transition: transform 2s;
        }
    }
}

.maininfo-wrapper{
    background-color: $tertiarycolor;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    main.info{
        
        article.symptom{
            background-color: $colorwhite;
            margin: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1 {
                color: $secondarycolor;
                text-align: center;
                padding: 1em;
                font-weight: 700;
            }
            
            ul{
                list-style: none;
                padding-bottom:2em;
                li{
                    list-style-image: url(../img/checks_check-black.png);
                    p{
                        color: $secondarycolor;
                        font-weight: 700;
                    }
                }
            }
            a {
                text-decoration:none;
                padding-bottom: 1.5em;
                p{
                    font-family: $fontdisplay;
                    color:$primarycolor;
                    font-weight: 800;
                }
            }
        }
    }
}