@media screen and (min-width: 1024px){
    .index,.teststyle,.infostyle {
        background-position: center;
    }
    
    header {
        
        h1{
            margin-right: 3em;
        }
        
        nav{
            display: flex;
            justify-content: left;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                
                li {
                    padding-bottom: 0.5em;
                    float: left;
                    
                    a {
                        padding: 2em;
                        font-size: 0.8em;
                        color: $colorwhite;
                        text-decoration-line: none;
                        font-weight: 800;
                        border-bottom: 0;
                    }
                }
            }
        }

    }
    
    .main-wrapper{
        .stats{

            li{
                margin-bottom: 1.5em;
                list-style: none;
                border-right: 1px solid $primarycolor;
                padding-left: 25%;
    
                &:last-child{
                    border: 0;
                }
            }
        }
        main {
            .gallery {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                grid-gap: 1em;
            }
        }
    }
    
    aside{
        .buttonbox {
            min-width: 20em;
        }
    }

    // main.info{
    //     display: grid;
    //     grid-template-columns: repeat(3,1fr);
    //     grid-template-rows: auto;
    //     grid-template-areas: 
    //     "info1 gallery1 .."
    //     ".. gallery2 info2";

    //     article.symptom1{
    //         grid-area: info1;
    //     }
    //     article.symptom2{
    //         grid-area: info2;
    //     }

    //     article.gallery1{
    //         grid-area: gallery1;
    //     }

    //     article.gallery2{
    //         grid-area: gallery2;
    //     }
    // }
    
    .footer-wrapper{
        footer{
            
            .logobox{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(1, 1fr);
                grid-gap: 5em;
                padding-top: 2em;
                padding-bottom: 2em;
                
                img{
                    margin: 0 auto;
                    width: 6em;
                }
            }
        }
    }
    
    section.testsida {
        height: 25em;
    }
}
