.teststyle{
    background-image: url('../img/flowers_flower2-small.png');
    background-size: cover;
}

header{

    .graphicobject{
        display: flex;
        justify-content: center;

        .triangle {
            display: none;
            position: relative;
            bottom: 7em;
            clip-path: polygon(0 0, 50% 100%, 100% 0);
            transform: rotate(0deg);
            transform-origin: 70% 30%;
            transition: transform 2s;
            background-color: $primarycolor;
            width: 10em;
            height: 10em;
        }

        svg{
            width: 10em;
            height: 10em;
            transform-origin: 50% 50%;
            transition: transform 2s, fill 2s;
            position: relative;
            bottom: 7em;
            transform: rotate(0deg);
            fill: $primarycolor;
        }

        svg:hover {
            transform: rotate(1080deg);
            fill: $tertiarycolor;
        }
    }
}

.testsida-wrapper{
    background-color: $primarycolor;
    section.testsida {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .textbox{
        background-color: $colorwhite;
            padding: 1em 1em;
            margin: 1em;
            h1 {
            color: $secondarycolor;
            text-align: center;
            font-weight: 700;
            }
        }
    }



    ul { 
        list-style: none;
            
    

        li {
            padding-bottom: 1em;
            font-size: 0.8em;
            text-decoration-line: none;
            padding-right: 0.8em;
            list-style-image: url(../img/checks_check-indigo.png);
            h3{
                font-weight: 700;
                color: $tertiarycolor;
            } 
        }
    }

}


.svar-wrapper{
    background-color: $tertiarycolor;
    section.svar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .object{
            display: none;
            margin-top: 2em;
            background-color: $primarycolor;
            clip-path: polygon(0 0, 50% 100%, 100% 0);
            transform-origin: 50% 50%;
            width: 10em;
            height: 10em;
        }

        svg{
            width: 10em;
            height: 10em;
            margin-top: 2em;
            fill:$primarycolor;
        }

        h1, h3{
        padding: 1em;
        text-align: center;
        color:$colorwhite;
        max-width: 30em;
        }
    }
}

.testinfo-wrapper{

    padding-top: 2em;
    background-color: $primarycolor;
    display: flex;
            justify-content: center;
            align-items: center;

        section.testinfo{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin: 0 auto;

            h2{
                color: $tertiarycolor;
                font-weight: 700;
                padding-bottom: 0.3em;
            }

            h3{
                color: $tertiarycolor;
                max-width: 30em;
                padding-bottom: 1em;
                font-size: 1em;
            }
        }
    }
