.teststyle{
    background-image: url('../img/flowers_flower2-small.png');
    background-size: cover;
}

header{
    .graphicobject{
        display: flex;
        justify-content: center;

        .triangle {
            position: relative;
            bottom: 7em;
            clip-path: polygon(0 0, 50% 100%, 100% 0);
            background-color: $primarycolor;
            width: 10em;
            height: 10em;
        }
    }
}

.testsida-wrapper{
    background-color: $tertiarycolor;
section.testsida {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    article.testa{
        //position: relative;
        // padding-left: 2em;
        // padding-right: 2em;
        // padding-bottom: 2em;
        // margin-bottom: 2em;
        // max-width: 30em;
        background-color: $primarycolor;
        box-shadow: 0.3em 0.3em 0em 0em $colordarkpuple;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            text-align: center;
            padding: 0.9em 0.9em;
        }

        img{
            margin: 0 auto;
            max-width: 30em;
            margin: 0;
        }

        ul { 
            list-style: none;
            

            li {
                padding-bottom: 1em;
                font-size: 0.8em;
                color: $colorwhite;
                text-decoration-line: none;      
                float: left;
                padding-right: 0.8em;  
            }
        }
    }



  
}
}


.svar-wrapper{
    background-color: $tertiarycolor;
    section.svar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .object{
            margin-top: 2em;
            background-color: $primarycolor;
            width: 10em;
            height: 3em;
        }

        h1, h3{
        padding-top: 1em;
        text-align: center;
        color:$colorwhite;
        max-width: 30em;
        }
    }
}

.testinfo-wrapper{
    background-color: $primarycolor;
        section.testinfo{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        h3{
            margin: 0.5em;
            max-width: 30em;
            padding: 2em;
        }
    }
}
