section.infobox {
    height: 30em;
    padding-top: 3em;
    background-color:$colordarkpuple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        text-align: center;
        max-width: 25em;
        line-height: 1.2em;
    }

    a.merinfobtn{
        text-align: center;
        text-decoration-line: none;
        background-color: $colorwhite;
        border: none;
        box-shadow: 0.3em 0.3em 0em 0em $colorregularpurple;
        margin: 5em;
        
        min-width: 10em;
        

        p {
            color: $colorblack;
            padding-top:1em;
            padding-bottom:1em;
                padding-left:1em;
                padding-right: 1em;
                margin-block-start: 0em;
                margin-block-end: 0em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: 800;
                text-transform: uppercase;
        }
    }
}

