/*'Space Mono'*/
/*'Work Sans', sans-serif*/
/*
$fontdisplay: 'BioRhyme', serif;
$fontread: 'Space Mono', monospace;
*/
h1, h2, h3, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; }

p {
  font-family: "Cardo", serif; }

h1, h2, h3, p, a {
  margin: 0; }

.footer-wrapper {
  background-color: black; }
  .footer-wrapper footer {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .footer-wrapper footer .textandgraphics {
      margin-top: 2em; }
      .footer-wrapper footer .textandgraphics p {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 1em; }
      .footer-wrapper footer .textandgraphics .graphicline {
        margin: 0 auto;
        max-width: 20em; }
        .footer-wrapper footer .textandgraphics .graphicline img {
          margin: 0; }
    .footer-wrapper footer .logobox {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 0.5em;
      padding-top: 2em;
      padding-bottom: 2em; }
      .footer-wrapper footer .logobox img {
        margin: 0 auto;
        max-width: 6em; }
    .footer-wrapper footer .address {
      margin-right: auto;
      display: flex;
      flex-direction: column; }
      .footer-wrapper footer .address p {
        font-family: "Montserrat", sans-serif;
        padding-bottom: 1em; }
      .footer-wrapper footer .address ul {
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px; }
        .footer-wrapper footer .address ul li {
          list-style-type: none;
          color: #fff;
          font-family: "Montserrat", sans-serif; }
      .footer-wrapper footer .address svg {
        margin-left: auto;
        width: 15em;
        padding: 2em 0.5em; }

header {
  padding-top: 1em;
  padding: 1em; }
  header h1 {
    margin-top: 2em;
    text-align: right; }
  header nav {
    display: flex;
    justify-content: center;
    align-content: center; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      header nav ul li {
        padding-bottom: 0.5em; }
        header nav ul li a {
          font-size: 0.8em;
          color: #fff;
          text-decoration-line: none;
          font-weight: 800;
          transition: color 0.5s; }
    header nav ul:hover {
      color: #00d4b0; }
    header nav img {
      width: 3em;
      height: 100%;
      margin-left: auto; }
    header nav svg:nth-child(1) {
      display: none; }
    header nav svg:nth-child(2) {
      display: none; }
    header nav svg:nth-child(3) {
      display: none; }
  header .headertextbox1 {
    position: relative;
    z-index: +1;
    padding-right: 2rem;
    padding-top: 5rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column; }

.index {
  background-image: url("../img/flowers_flower1-small.png");
  background-size: cover; }

header h1, header h3 {
  font-weight: 700; }

header .graphicobject {
  display: flex;
  justify-content: center; }
  header .graphicobject .squarebox {
    position: relative;
    bottom: 7em;
    background-color: #00d4b0;
    width: 10em;
    height: 10em;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 2s; }
  header .graphicobject .squarebox:hover {
    transform: rotate(360deg); }

.main-wrapper h3 {
  margin: 0 auto;
  max-width: 25em;
  text-align: center;
  margin-bottom: 3em; }

.main-wrapper .stats {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  color: #00d4b0;
  justify-content: space-around;
  margin-top: 2em; }
  .main-wrapper .stats li {
    margin-bottom: 1.5em;
    list-style: none;
    border-right: 0; }
  .main-wrapper .stats strong {
    font-size: 1.6em; }
  .main-wrapper .stats span {
    display: block;
    text-transform: uppercase;
    font-size: .75em; }

.main-wrapper main {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main-wrapper main h1 {
    text-align: center;
    padding: 1em; }
  .main-wrapper main .gallery {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr); }
    .main-wrapper main .gallery article.tutorialsteps {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main-wrapper main .gallery article.tutorialsteps h3 {
        padding: 1em 1em;
        text-align: center;
        font-weight: 900;
        color: #262626;
        margin-bottom: 0em; }
      .main-wrapper main .gallery article.tutorialsteps svg {
        padding: 0.5em;
        max-width: 5em; }
        .main-wrapper main .gallery article.tutorialsteps svg .cls-1 {
          fill: #00d4b0; }

.aside-wrapper aside {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .aside-wrapper aside h3 {
    text-align: center;
    max-width: 18em;
    line-height: 1.2em; }
  .aside-wrapper aside .buttonbox {
    display: flex;
    justify-content: center;
    align-items: center; }
    .aside-wrapper aside .buttonbox a.test {
      background-color: #00d4b0;
      transition: background-color 0.5s; }
    .aside-wrapper aside .buttonbox .btn:hover {
      background-color: #ff2b4f; }

.teststyle {
  background-image: url("../img/flowers_flower2-small.png");
  background-size: cover; }

header .graphicobject {
  display: flex;
  justify-content: center; }
  header .graphicobject .triangle {
    position: relative;
    bottom: 7em;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 2s;
    background-color: #00d4b0;
    width: 10em;
    height: 10em; }
  header .graphicobject .triangle:hover {
    transform: rotate(360deg); }

.testsida-wrapper {
  background-color: #00d4b0; }
  .testsida-wrapper section.testsida {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .testsida-wrapper section.testsida .textbox {
      background-color: #fff;
      padding: 1em 1em;
      margin: 1em; }
      .testsida-wrapper section.testsida .textbox h1 {
        color: #262626;
        text-align: center;
        font-weight: 700; }
  .testsida-wrapper ul {
    list-style: none; }
    .testsida-wrapper ul li {
      padding-bottom: 1em;
      font-size: 0.8em;
      text-decoration-line: none;
      padding-right: 0.8em;
      list-style-image: url(../img/checks_check-indigo.png); }
      .testsida-wrapper ul li h3 {
        font-weight: 700;
        color: #4B0082; }

.svar-wrapper {
  background-color: #4B0082; }
  .svar-wrapper section.svar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .svar-wrapper section.svar .object {
      margin-top: 2em;
      background-color: #00d4b0;
      clip-path: polygon(0 0, 50% 100%, 100% 0);
      transform-origin: 50% 50%;
      background-color: #00d4b0;
      width: 10em;
      height: 10em; }
    .svar-wrapper section.svar h1, .svar-wrapper section.svar h3 {
      padding: 1em;
      text-align: center;
      color: #fff;
      max-width: 30em; }

.testinfo-wrapper {
  padding-top: 2em;
  background-color: #00d4b0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .testinfo-wrapper section.testinfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto; }
    .testinfo-wrapper section.testinfo h2 {
      color: #4B0082;
      font-weight: 700; }
    .testinfo-wrapper section.testinfo h3 {
      color: #4B0082;
      max-width: 30em;
      padding-bottom: 1em;
      font-size: 1em; }

.info-wrapper {
  background-color: #4B0082; }
  .info-wrapper section.infobox {
    height: 25em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .info-wrapper section.infobox p {
      text-align: center;
      max-width: 20em;
      line-height: 1.2em; }
    .info-wrapper section.infobox a.merinfo {
      background-color: #fff;
      transition: background-color 0.5s; }
      .info-wrapper section.infobox a.merinfo p {
        color: #4B0082;
        padding-top: 0.5em;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: 800;
        text-transform: uppercase;
        transition: color 0.5s; }
    .info-wrapper section.infobox .btn:hover {
      background-color: #00d4b0;
      color: #fff; }

.infostyle {
  background-image: url("../img/flowers_flower3-small.png");
  background-size: cover; }

header .graphicobject {
  display: flex;
  justify-content: center; }
  header .graphicobject .circle {
    clip-path: circle(50% at 50% 50%);
    position: relative;
    bottom: 7em;
    background-color: #00d4b0;
    width: 10em;
    height: 10em;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 2s; }

.maininfo-wrapper {
  background-color: #4B0082;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .maininfo-wrapper main.info article.symptom1, .maininfo-wrapper main.info article.symptom2 {
    background-color: #fff;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .maininfo-wrapper main.info article.symptom1 h1, .maininfo-wrapper main.info article.symptom2 h1 {
      color: #262626;
      padding: 1em;
      font-weight: 700; }
    .maininfo-wrapper main.info article.symptom1 ul, .maininfo-wrapper main.info article.symptom2 ul {
      list-style: none;
      padding-bottom: 2em; }
      .maininfo-wrapper main.info article.symptom1 ul li, .maininfo-wrapper main.info article.symptom2 ul li {
        float: left;
        padding-left: 0.4em; }
        .maininfo-wrapper main.info article.symptom1 ul li p, .maininfo-wrapper main.info article.symptom2 ul li p {
          color: #262626;
          font-weight: 700; }
    .maininfo-wrapper main.info article.symptom1 a, .maininfo-wrapper main.info article.symptom2 a {
      text-decoration: none;
      padding-bottom: 1.5em; }
      .maininfo-wrapper main.info article.symptom1 a p, .maininfo-wrapper main.info article.symptom2 a p {
        font-family: "Montserrat", sans-serif;
        color: #00d4b0;
        font-weight: 800; }
  .maininfo-wrapper main.info article.gallery1, .maininfo-wrapper main.info article.gallery2 {
    display: none; }

@media screen and (min-width: 1024px) {
  .index, .teststyle, .infostyle {
    background-position: center; }
  header h1 {
    margin-right: 3em; }
  header nav {
    display: flex;
    justify-content: left; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      header nav ul li {
        padding-bottom: 0.5em;
        float: left; }
        header nav ul li a {
          padding: 2em;
          font-size: 0.8em;
          color: #fff;
          text-decoration-line: none;
          font-weight: 800; }
    header nav svg:nth-child(2) {
      display: none; }
    header nav svg:nth-child(3) {
      width: 10em;
      margin-left: auto; }
  .main-wrapper .stats li {
    margin-bottom: 1.5em;
    list-style: none;
    border-right: 1px solid #00d4b0;
    padding-left: 6em; }
    .main-wrapper .stats li:last-child {
      border: 0; }
  .main-wrapper main .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em; }
  aside .buttonbox {
    min-width: 20em; }
  .footer-wrapper footer .logobox {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 3em;
    padding-top: 2em;
    padding-bottom: 2em; }
    .footer-wrapper footer .logobox img {
      margin: 0 auto;
      max-width: 6em; }
  section.testsida {
    height: 25em; } }

.btn {
  border: none;
  border-radius: 40px;
  box-shadow: 0px 11px 0px -4px rgba(0, 0, 0, 0.75);
  text-decoration-line: none;
  text-align: center;
  margin: 4em;
  min-width: 10em; }
  .btn p {
    font-size: 1em;
    padding: 0.9em;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif; }

.shadow {
  box-shadow: 10px 10px 0px 0px #ca82ff; }

* {
  box-sizing: border-box; }

body {
  margin: 0 auto; }

.header-wrapper {
  background-color: #262626; }

.wrapper {
  padding: 1.5em;
  max-width: 1200px;
  margin: 0 auto; }

h1 {
  color: #fff;
  font-size: 2.5em; }

h3 {
  font-size: 1.5em; }

p {
  font-size: 1.2em; }

h1, h2, h3, p {
  color: #fff; }

img {
  width: 100%; }

.grid-container {
  background-color: #262626;
  margin: 0 auto; }
