/*'Space Mono'*/
/*'Work Sans', sans-serif*/
h1, h2, h3, p {
  font-family: "Helvetica"; }

h1 {
  font-size: 8rem;
  font-kerning: -5px; }

body {
  max-width: 600px; }

h1 {
  font-size: 8em;
  font-kerning: -5px; }

h3 {
  color: #fff2c9;
  font-size: 3em;
  margin-block-start: 0em;
  margin-block-end: 0em; }

img {
  width: 100%; }

header h1 {
  color: #fff2c9; }

nav a {
  margin: .9rem;
  font-size: 3em;
  font-family: "Helvetica";
  color: #fff2c9;
  text-decoration: underline;
  font-weight: 800; }

.graphicobject {
  display: flex;
  justify-content: center;
  align-self: center; }
  .graphicobject img {
    position: relative;
    bottom: 20em;
    width: 40em; }

.headertextbox2 {
  text-align: center;
  padding: 7em;
  margin-top: 15em; }

.grid-container {
  margin: 0 auto;
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "aside" "infobox" "footer";
  padding: 2em; }

header {
  grid-area: header;
  background-color: #262626; }
  header h3 {
    font-size: 5em; }
  header section.navbar {
    display: flex; }
    header section.navbar nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
    header section.navbar img:nth-child(2) {
      width: 15em;
      margin-left: auto; }
    header section.navbar img:nth-child(3) {
      display: none; }
  header .headertextbox1 {
    position: relative;
    z-index: +1;
    padding-right: 2em;
    padding-top: 15em;
    display: flex;
    align-items: flex-end;
    flex-direction: column; }
    header .headertextbox1 h1 {
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0em;
      margin-inline-end: 0em; }
  header section.artwork {
    margin: 0 auto;
    width: 100em;
    display: flex;
    justify-content: center;
    align-items: center; }
    header section.artwork img {
      position: relative;
      top: 30em;
      box-shadow: 1em 1em 0em 0em #3e2f80; }

main {
  grid-area: main;
  padding-top: 50em;
  background-color: #a09db0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main h1 {
    color: #fff2c9; }
  main .tutorialsteps {
    margin: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .tutorialsteps h3 {
      text-align: center;
      padding-left: 4em;
      padding-right: 4em; }
    main .tutorialsteps img {
      padding: 2em;
      width: 15em; }

aside, .infobox {
  background-color: #262626; }

aside {
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  aside h3:nth-child(2) {
    padding-bottom: 5em; }
  aside h3:nth-child(4) {
    padding-bottom: 5em; }
  aside .buttonbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7bac;
    width: 60em;
    height: 30em; }
    aside .buttonbox button.testbtn {
      font: "Helvetica";
      font-size: 3em;
      font-weight: 600;
      color: #fff2c9;
      background-color: #8674d4;
      border: none;
      width: 20em;
      box-shadow: 0.5em 0.5em 0em 0em #fff2c9; }

section.infobox {
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15em; }
  section.infobox h3 {
    text-align: center; }
  section.infobox h3:nth-child(3) {
    padding-bottom: 5em; }
  section.infobox button.merinfobtn {
    font: "Helvetica";
    font-size: rem;
    font-weight: 600;
    color: #262626;
    background-color: #fff2c9;
    border: none;
    width: 20em;
    box-shadow: 0.5em 0.5em 0em 0em #8674d4; }

footer {
  padding-top: 20em;
  background-color: black; }
  footer .logobox {
    padding-left: 4em;
    padding-right: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2em; }
    footer .logobox img {
      width: 10em;
      margin: 0 auto; }
  footer h3 {
    text-align: center;
    color: #fff2c9; }

body > div > footer > img:nth-child(4) {
  width: 50em;
  padding: 3em; }

@media only screen and (min-width: 600px) {
  body {
    max-width: 1000px; }
  header section.navbar {
    padding-top: 5em;
    padding-left: 5em;
    display: flex; }
    header section.navbar nav {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center; }
    header section.navbar img:nth-child(2) {
      display: none; }
    header section.navbar img:nth-child(3) {
      display: block;
      margin-left: auto;
      width: 60em; }
  header h1 {
    position: relative;
    margin-right: 30em; }
  header section.artwork img {
    margin: 0 auto;
    position: relative;
    top: 30em;
    box-shadow: 1em 1em 0em 0em #3e2f80; }
  footer .logobox {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 3em; } }
